h2 {
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    margin: 10px !important;
    color:#006400;
}
.section {
    width: 95%;
    padding: 0.5rem;
}
.sub_title {
    font-weight: 700;
    font-style: italic;
}