.main_button img {
  width: 40px;
  height: 40px;
}
.main_button {
  border: none;
  outline: none;
  width: 100%;
  background-color: #379237;
  border-radius: 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.copyright {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 2%;
  font-size: 1.5rem;
  font-weight: 700;
}
.copyright a {
  text-decoration: none !important;
}
.start_modal {
  position: absolute;
  top: -100%;
  left: 2.5%;
  right: 2.5%;
  width: 95%;
  background-color: #fff;
  border-radius: 20px;
  transition: 0.3s;
  z-index: 1000;
}
.visible_modal {
  top: 10%;
}
.close_span {
  font-size: 3rem;
  margin: 5px;
  cursor: pointer;
  color: #f00;
}
.start_modal label {
  font-size: 1.1rem;
  font-weight: 700;
}
.start_modal input {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  outline: none;
  padding: 9px 12px;
  margin:8px 0;
  font-weight: 700;
}
#submit_btn {
  border: none;
  outline: none;
  background-color: #379237;
  color: #fff;
  border-radius: 40px;
  padding: 8px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 90%;
  display:block;
  margin: 5px auto;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
}
.visible_overlay {
  display: block;
}
@media only screen and (min-width: 576px) {
  .main_button {
    width: 90%;
  }
}
@media only screen and (min-width:768px) {
  .start_modal {
    width:85%;
    left: 7.5%;
    right: 7.5%;
  }

}
@media only screen and (min-width: 992px) {
  .main_button {
    width: 45%;
  }
  .copyright {
    font-size: 2rem;
  }
  .start_modal label {
    width: calc(30%);
    margin: 0 5px;
  }
  #submit_btn {
    width: 70%;
  }
  .main_button {
    font-size: 3rem;
  }
  .main_button img {
    width: 70px;
    height: 70px;
  }
}
@media only screen and (min-width:1200px) {
  .start_modal {
    width: 70%;
    left: 15%;
    right: 15%;
  }
}